body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.chinese-row1{
    display: flex;
    flex-direction: row;
} 
.food-block{
    align-items: center;
    width: 20%;
    padding: 1vw 1vw 0 1vw;
    margin: 1vw 1vw;
    font-size: 1vw;
    background-color: #e44c54;
    color:  #000000;
    border-radius: 5%;
} 
.food-box-title{
    font-weight: bolder;
    font-size: 1.2vw;
    color: white;
}
.chinese{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%; 
}
img{
    /* clip-path: circle(50% at 50% 50%); */
    height: 15vw;
    width: 15vw;
    border-radius: 5%;
}
.cuisine-name{
    font-size: 2vw;
    margin-right: 9.5vw;
}
.menu{
    display: flex;
    flex-direction: column;
}
.food{
    display: flex;
    flex-direction: row;
    margin: 2.5% 5%;
}
p{
    font-size: 1.3vw;
}
.item{
    width: 20%;
    margin: auto;
} 
.item img{
    width: 65%;
    height: 65%;
}
.item img:hover{
    width: 85%;
    height: 85%;
}
.navbar{
    font-size: 1.25vw;
    background-color: #dc041a;
}
.cuisine123{
    font-size: 1.3vw;
}
.item-title{
    font-size: 1.1vw;
}
.item-decribe{
    font-size: 0.9vw;
    margin: auto 5%;
}
.bottom-container{
    background-color: #e44c54;
    padding: 2% 0px 1%;
    text-align: center;
    font-size: 1vw;
}
.footer-link{
    color: #ec7d84;
    margin: 10px 20px;
    text-decoration: none;
}
.footer-link:hover{
    color: #EAF6F6;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    margin: 20px 0px;
    font-size: 0.75vw;
}
